.acercademi{
    font-size: 2.5rem; text-align: left;
    padding-top: 6%;
 
}
 
p.letra-estilo{
    line-height: 2;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 350;
    color: rgb(53, 52, 52);

}