<section class="mt-2 text-center">
    <div style="margin-left:8.4%; padding-top: 6%;">
    <h2 class=" fw-bold mt-5" style="font-size: 2.5rem; text-align: left;">
      Habilidades 
    </h2>
    </div>
</section>
<section class="containerskill">
    <div class="row">
        <div class="containerskill" *ngFor="let skillss of SkillsLista" [ngClass]="'circleTipo-' + skillss.circleTipo">
            <div>
                <div class="ui-widget" >
                    <div >
                        <div class="ui-value">{{skillss.porcentajeSkill}} </div>
                        <span class="ui-label">{{skillss.skillname}}</span>
                    </div>
                </div>
            </div>
        </div>
         
    </div>

</section>

 

  