 
p.letra-estilo{
    line-height: 2;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 350;
    color: rgb(53, 52, 52);

}

.containerskill{

    margin: 1% auto;
    width: 90%;
}
.desvanecer {

    padding: 20px;
 
    opacity: 0; /* oculta el contenido */
    transform: translateY(150px); /* desplaza hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* agrega una transición */
    scroll-snap-align: start; /* nueva propiedad */
}
  
.desvanecer.inView {
    opacity: 1; /* muestra el contenido */
    transform: translateY(0); /* elimina el desplazamiento */
}
