<h3 class="text-estilo fw-bold " style="text-align:center; ">
    Cursos
    <button  *ngIf="autentication.estaLogueado" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCursoModal">
        añadir certificado
    </button>
</h3>
<section style="text-align:center">
    <div class="row">
        <div id="carouselExample" class="carousel slide col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h4>  </h4>
                    <img src="/assets/img/Coursera EY52P8PN6PUX-page-001.jpg" class="d-block" alt="proyec1">  
                </div>
                <div class="carousel-item text-align:center" *ngFor="let curs of cursos"  >
                    
                    <img src="{{curs.certificadoUrlCurso}} " style="border: 2px solid rgb(35, 36, 34); z-index: -1; margin:auto;"  width="365" height="258" class="d-block" alt="">  
                    <div *ngIf="autentication.estaLogueado">
                        <button 
                            (click)="onOpenModal('edit', curs)"
                            type="button" class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#editCursoModal"
                            data-original-title="edit">
                                <i class="fa fa-pencil"></i>
                        </button>
        
                        <button 
                            (click)="onOpenModal('delete', curs)"
                            type="button" 
                            class="btn btn-danger" 
                            data-bs-toggle="modal" 
                            data-bs-target="#deleteCursoModal"
                            data-original-title="delete"> 
        
                                <i class="fas fa-times"></i>
                        </button>                  
                    </div>
                </div>
                
            </div>
            <button class="carousel-control-prev hoverArgpr " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden" >Previous</span>
            </button>
            <button class="carousel-control-next hoverArgpr"  type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            

            
        </div>
    </div>
</section>


<!-- add modal -->
<div class="modal fade" 
        id="addCursoModal" 
        tabindex="1"  
        role="dialog" 
        aria-labelledby="addCursoModalLabel" 
        aria-hidden="true">

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addCursoModalLabel"> Añadir certificado</h5>  
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddCurso(addForm)">
                <div class="form-group">
                    <label for="certificadoUrlCurso"> Url certificado </label>
                    <input type="text" 
                            ngModel 
                            name="certificadoUrlCurso" 
                            class="form-control" 
                            id="certificadoUrlCurso" 
                            placeholder=" " 
                            required
                    />
                </div>
                
                <div class="modal-footer">
                    <button 
                    type="button" 
                    id="add-curso-form"
                    class="btn btn-secondary" 
                    data-bs-dismiss="modal">
                    Cerrar
                    </button>
                    <button 
                        [disabled]="addForm.invalid"
                        type="submit" 
                        class="btn btn-primary" > 
                            Guardar
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>
    <!-- edit modal -->
<div class="modal fade" 
    id="editCursoModal" 
    tabindex="-1"  
    role="dialog" 
    aria-labelledby="editCursoModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCursoModalLabel"> 
                    Editar certificado</h5>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="certificadoUrlCurso"> Url certificado </label>
                        <input 
                            type="text" 
                            ngModel =  "{{editCurso?.certificadoUrlCurso}}"
                            name="certificadoUrlCurso" 
                            class="form-control" 
                            id="certificadoUrlCurso" 
                            aria-describedby="emailHelp"
                            placeholder=" " 
                                
                        />
                    </div>
                    <input 
                        type="hidden" 
                        ngModel= "{{editCurso?.idCurso}}" 
                        name="idCurso" 
                        id="idCurso"
                        class="form-control"
                        placeholder=" " />

                    <div class="modal-footer">
                        <button 
                            type="button" 
                            id=""
                            class="btn btn-secondary" 
                            data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                            (click)="onUpdateCurso(editForm.value)"
                            data-bs-dismiss="modal"  
                            class="btn btn-primary"> 
                                Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- delete modal -->
<div
        class="modal fade" 
        id="deleteCursoModal" 
        tabindex="-1"  
        role="dialog" 
        aria-labelledby="deleteCursoModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCursoModalLabel"> Eliminar curso </h5>
                </div>
                <div class="modal-body">
                    <p>
                        ¿Estás seguro de que quieres el certificado {{deleteCurso?.certificadoUrlCurso}}?
                    </p>
                    <div class="modal-footer">
                        <button 
                                type="button" 
                                class="btn btn-secondary" 
                                data-bs-dismiss="modal">
                                Cerrar
                        </button>
                        <button 
                            (click)="onDeleteCurso(deleteCurso!.idCurso)"
                            
                            data-bs-dismiss="modal" 
                            class="btn btn-danger" 
                            type="button" > 
                                Eliminar
                            
                        </button>
                    
                    </div>
                </div>
            </div>

        </div>
</div>

