
<app-banner></app-banner>
<app-acerca-de id="SeccionAcedadeMi"></app-acerca-de> 
<app-experiencia id="SeccionExperiencia"></app-experiencia>
<app-cursos id="SeccionEducacion"></app-cursos>
<app-habilidades id="SeccionSkill"></app-habilidades>
<app-proyectos></app-proyectos>
<app-contacto id="SeccionContacto"></app-contacto>

 
 

<footer class="bg-white text-black text-center fs-9 " style="margin-top: 10%;">
<div class="pt-3">
<p> &copy Copyright - 2023 <br>Fabian Elias Leon</p>
</div>
</footer>

