<section class="mt-2 text-center">
    <div style="margin-left:8.4%;">
    <h2 class=" fw-bold mt-5" style="font-size: 2.5rem; text-align: left;">
      Proyectos 
    </h2>
    </div>
</section>
<div class="row">
    
    <div class="example-2 card">
      <div class="wrapper">
        <div class="header">
          <div class="date">
            <span class="day">25</span>
            <span class="month">feb</span>
            <span class="year">2023</span>
          </div>
          
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Fabian Leon</span>
            <h1 class="title"><a href="#">Portafolio web</a></h1>
            <p class="text">Este fue mi primer proyecto, mi propio portafolio web.</p>
            <a href="#" class="button">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
</div>
