<section class="mt-2 text-center">
    <div style="margin-left:8.4%;">
    <h2 class=" fw-bold mt-5" style="font-size: 2.5rem; text-align: left;">
      Proyectos 
    </h2>
    </div>
</section>
<section class="sectionproyect">
    <div class="row"> 
      <div *ngFor="let proyec of ProyecLista" class="example-2 card col-2">
        <div class="wrapper border" >
          <div class="header">
            <div class="date" >
              <span>{{proyec.fecha}}</span>
            </div>
          </div>
          <div class="data">
            <div class="content">
              <span class="author"> {{proyec.autor}} </span>
              <h1 class="title"><a href="#"> {{proyec.nameProyecto}}</a></h1>
              <p class="text"> {{proyec.descripcion}}</p>
              <a href="#" class="button">Ver mas</a>
            </div>
          </div>
        </div>
      </div> 
  
    </div>

</section>

