<section class="mt-2 text-center">
    <div style="margin-left:8.4%;">
    <h2 class=" fw-bold mt-5" style="font-size: 2.5rem; text-align: left;">
      Experiencia 
    </h2>
    </div>
</section>
<div style="margin: 2% 8.4%;"> 
    <ul>
        <li class="row">
            <div class="col-xl-2 col-4">
                  <img src="assets/img/fiveer.png" alt="" style="width: 75%;">

            </div>
            <div class="col-xl-10 col-8">
                <h2> Trabajo 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, minima. 
                Doloribus beatae, natus ratione accusantium unde corrupti dignissimos 
                aliquam, alias, asperiores temporibus laudantium voluptatem nemo? 
                Vero et ullam impedit soluta?</p>
            <h4>Fecha inicio - Fecha Final</h4>

            </div>
          
            
        </li>
    </ul>
   

</div>