<app-encabezado></app-encabezado>
<app-banner></app-banner>
<app-acerca-de></app-acerca-de> 
<app-habilidades></app-habilidades>
<app-contacto></app-contacto>
 
<!-- foto de perfil y descpricoin -->

<!-- Fin foto de perfil y descpricoin --> 

<!-- acerca de mi y cursos -->

<!-- acerca de mi y curos fin -->

      <!--Habilidades -->

<!-- Habilidades fin -->

<!-- contacto -->

<!-- contacto fin -->

<footer class="bg-white text-black text-center fs-9 " style="margin-top: 10%;">
<div class="pt-3">
<p> &copy Copyright - 2023 <br>Fabian Elias Leon</p>
</div>
</footer>


 