 <section>
        <div class="container bg-black   rounded shadow" >
            <div class="row aling-items-stretch">
                <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" > 
                </div>
                <div class="col bg-black p-2 rounded-end"> 
                   
                    <h2 class="fw-bold text-center text-white Bienvenido">Bienvenido</h2>
                    <form action="#">
                        <div class="mb-4 text-white formularioLogin" >
                            <label for="email" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-4 text-white formularioLogin" >
                            <label for="email" class="form-label">Contraseña</label>
                            <input type="email" class="form-control" name="Contraseña">
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                         
                    </form>
                  
                </div>
            </div>
        </div> 
    </section>
    