 

section{
    background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.9)
    ), url(/assets/img/banner.jpg) ;
 
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -msm-background-size: cover;
    overflow-y: hidden; 
}
.bg{
    width: 40vw;
    height: 100vh;

    background-image: url(/assets/img/Registro1.jpg);
    background-position: center center;
}
.container{
     
    transform: scale(0.75);
}

.Bienvenido{
    margin-top: 18%;
    margin-right: 2%;
}

.formularioLogin{
    margin: 6%;

}

.d-grid{
    width: 50%;
    margin: auto
 
}