* {
  
    
    font-family: Arial, Helvetica, sans-serif;
  }

 
.fondo{
    background: #dbd9d7;
    overflow-x: hidden;
    
}

.bg-colorbar{
    background: rgba(5, 5, 5, 0.932);
    background-color: rgb(0, 0, 0);
} 

/* hover de flechas en cursos*/
.hoverArgpr{
    margin: auto;
    background-color: black;
    height: 100px; 
    width: auto;
}
.hoverArgpr:hover {
    color: aqua;
    transform: scale(1.2); 
}

/* logo argnetina programa*/
.hover-Argpr:hover{
    transform: scale(1.2); 
   
}
.hover-Argpr{
    width: 70%;
}

.carousel-control-next-icon{
    background-color:  rgb(110, 114, 114);
}
.carousel-control-prev-icon{
    background-color: rgb(110, 114, 114);
    
}

/* list group es para poner la lista de redes con fondo transparente*/
.list-group-item{
    --bs-list-group-bg: transparent;

    --bs-list-group-border-width: none;
}

.list-group{

    --bs-list-group-bg:transparent;
    --bs-list-group-border-color:transparent;
}
 
.fa-brands.fa-facebook.fa-3x:hover{
    --bs-text-opacity: 1;
    color: blue !important;
    transform: translateY(-8%);
}
.fa-brands.fa-instagram.fa-3x:hover{
    --bs-text-opacity: 1;
    color: rgb(221, 93, 54) !important;
    transform: translateY(-8%);
}
.fa-brands.fa-github.fa-3x:hover{
    --bs-text-opacity: 1;
    color: rgb(0, 255, 76) !important;
    transform: translateY(-8%);
}
.fa-brands.fa-linkedin.fa-3x:hover{
    --bs-text-opacity: 1;
    color: rgb(161, 63, 218) !important;
    transform: translateY(-8%);
}

.fa-sharp.fa-user-lock.fa-2x:hover{
    --bs-text-opacity: 1;
    color: rgb(63, 218, 84) !important;
    transform: translateY(-8%);
}

div.margenNavBarRedes{
    position: absolute;
    left: 100px;
    color: aqua;
    width: 1000px;
    height: 55px;
   
}
 

@media only screen and (max-width: 413px){
    .imgCircularGrande{
        text-align: center;
        position: relative;
        left: 18%;
        right: 60%;
        padding-bottom: 3%;
        margin-top: -10%;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
 
}


@media only screen and (min-width:400px) and (max-width:575px){
   
    .imgCircularGrande{
        text-align: center;
        position: relative;
        left: 20%;
        right: 60%;
        bottom: 20%;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
}


@media only screen and (min-width:576px) and (max-width:683px){
    
    .imgCircularGrande{
        text-align: center;
        position: relative;
        left: 39%;
        right: 60%;
        bottom: 20%;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
}


@media only screen and (min-width: 684px) and (max-width: 958px){
    .imgCircularGrande{
        text-align: center;
        position: relative;
        left: 30%;
        right: 60%;
        bottom: 20%;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
   
}


@media only screen and (min-width: 959px) {
    .imgCircularGrande{
        text-align: center;
        position: relative;
        left: 50%;
        right: 60%;
         
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
    .margenDescripcion{ 
        position: relative;
        top: 50px;
    }
    
    
}

.imgCircular{
    border-radius: 50%;
    width: 171px;
    height: 171px;
    overflow: hidden;
}
.img{
    position: relative;
    top: -60px;
    bottom: 0px;
    left: -10px;
    height: 120vh;
    width: auto;
}

nav.img{
     text-align: center;
}



nav.fixed-header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

 

h1.intro{
    font-size: 4rem;
}

 /* Fin de habilidades*/

.panelVertical{
    width: 130px;
    height: 100vh;
    background: #f5f2f2;
    position: fixed;
   
}
.opcionespanel{
    background: rgb(241, 243, 243);
    position: absolute;
    top: 120px;
    left: 15%;
    width: 170vh;
    height: 70vh;
}
div.panelVertical-Items{
    position: fixed;
    top: 13%;
}
li.vertical{
    display: block;
    text-align:left;
    margin-top: 1rem;
    writing-mode: vertical-rl;
    padding-top: 2rem;
    font-size: 2rem;
    justify-content: center;
    display: flex; 
}
nav.vertical{
    float: left;
    margin-left: 0rem;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: 0rem;
}
.panelmargenes{
    margin-left: -5%;
    margin-right: 2%;
    position: absolute;
    top: 5%;
    padding-top: 20%;
    padding: 1rem;
    padding-right: 4rem;
}
footer{
    bottom: 0;
}
