*{
    font-family: Arial, Helvetica, sans-serif;
    --bs-body-bg: #EAEAEA ;
}
.fondo{
    background: #dbd9d7;
    overflow-x: hidden;
}
.bg-colorbar{
    background: rgba(5, 5, 5, 0.932);
    background-color: rgb(0, 0, 0);
} 
/* hover de flechas en cursos*/
.hoverArgpr{
    margin: auto;
    background-color: black;
    height: 100px; 
    width: auto;
}
.carousel-control-next-icon{
    background-color:  rgb(110, 114, 114);
}
.carousel-control-prev-icon{
    background-color: rgb(110, 114, 114);
    
}
/* list group es para poner la lista de redes con fondo transparente*/
.list-group-item{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-width: none;
}
.list-group{
    --bs-list-group-bg:transparent;
    --bs-list-group-border-color:transparent;
}

.img{
    position: relative;
    top: -60px;
    bottom: 0px;
    left: -10px;
    height: 120vh;
    width: auto;
}

nav.img{
     text-align: center;
}

h1.intro{
    font-size: 4rem;
}
