<section class="mt-2 text-center">
    <div style="margin-left:8.4%; padding-top: 6%;">
    <h2 class=" fw-bold mt-5" style="font-size: 2.5rem; text-align: left;">
      Educacion 
    </h2>
    </div>
</section>
<div>
    <section style="margin: 2% 8.4%;">
        <div class="row">
            <div class="col-xl-6">
                <h3 class="text-estilo fw-bold " style="text-align:center; ">
                    Cursos
                </h3>
                <section style="text-align:center">
                    <div class="row" >
                        <div id="carouselExample" class="carousel slide col-xl-12 col-md-12 col-sm-12  col-12">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h4> a </h4>
                                    <img src="/assets/img/Coursera EY52P8PN6PUX-page-001.jpg" style="border: 2px solid rgb(35, 36, 34); z-index: -1; margin:auto;"  width="365" height="258" class="d-block" alt="proyec1">  
                                </div>
                                <div class="carousel-item text-align:center" *ngFor="let curso of cursosLista">
                                            <h4> {{curso.nameCurso}} </h4>
                                            <img [src]="curso.imgCertificado" style="border: 2px solid rgb(35, 36, 34); z-index: -1; margin:auto;"  width="365" height="258" class="d-block" alt="{{curso.alt}}">  
                                </div>
                            </div>
                            <button class="carousel-control-prev hoverArgpr " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" >Previous</span>
                            </button>
                            <button class="carousel-control-next hoverArgpr"  type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-xl-6">
                <h3 class="text-estilo fw-bold " style="text-align:center">
                    Educacion Formal
                </h3>
                <ul>
                    <li>
                        <h4>Tecnico en equipos e instalaciones electromecanicas</h4>
                        <p>Escuela de Educacion Tecnica N3133 Prof. Rosmiro Bazan</p> <p>2013 - 2019</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
